  <section class="section sectionAlinear">

      <header class="section__header">
        <h3 class="section__title" title="Herramientas de carpintería en Guatemala">Herramientas de carpintería en Guatemala</h3>
        <!--a href="#" class="section__link">Ver todo</a-->
      </header>

  <p>¿Buscas herramientas y materiales para carpintería en Guatemala? Si el trabajo que tienes es para uso industrial, nosotros te ofrecemos productos de calidad, con respaldo de garantía, repuestos y a los mejores precios en Guatemala.</p>

<div itemscope itemtype="https://schema.org/Article" class = "row g-4 my-5 mx-auto owl-carousel owl-theme">
    {% for page in site.data.seccionCarpinteria %}
        <div class = "col product-item mx-auto">
            <div class = "product-img">
                <img itemprop="image" loading="lazy" src ="{{ page.srcImagen }}" alt ="{{ page.descripcion }}"  title ="{{ page.descripcion }}" class ="img-fluid d-block mx-auto">
            </div>
            <div class = "product-info p-3">
                <span itemprop="name" class = "product-type">Herramientas de {{ page.categoria }}</span>
                <p class = "d-block text-dark text-decoration-none py-2" itemprop="description">{{ page.descripcion }} en Guatemala</p>
                <!--span class = "product-price">$ 100.50</span-->
                <!--div class = "rating d-flex mt-1">
                 <div class="buy mt-3" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                      <a class="btn btn-success btn-block" href="{{ page.whatsapp }}">WhatsApp</a>
                     </div>
               </div-->
            </div>
        </div>
    {% endfor %}
</div>

 </section>
