 <section class="section sectionAlinear">


  <header class="section__header">
            <h3 class="section__title" title="Demoledores para uso industrial">Demoledores</h3>
            <!--a href="#" class="section__link">View all</a-->
          </header>

        <p>Gran variedad de precios de demodelores  y rotomartillos industriales. Super ofertas de herramientas.
      <code>¿Qué otros tipos de barrenos ofrecen?</code><br></p>
      Contamos con la siguiente línea de barrenos.
      <ol>
  <li>Barrenos de mandril 3/8 uso liviano, profesional y industrial.</li>
  <li>Barreno mandril de 1/2 para uso liviano, profesional y industrial</li>
  <li>Barrenos recargables de 12V, 18V, 20V, variedad de marcas y precios.</li>
  <li>Barrenos de pedestal de 1/3, 1/2, 3/4, 1 y 1.5 HP, mandril de 1/2, 5/8 y 3/4</li>
</ol><br>
    <code>Consejos para máquinarias eléctricas</code>
<ol>
 <li>En la mayoría de las marcas siempre es aconsejable darle un descanso de aproximadamente 10 a 15 minutos al producto.</li>
  <li>Cuándo el barreno empieza a perder fuerza es importante revisar los carbones, si ya están gastados reemplazarlo por una nueva para prolongar su vida útil.</li>
   <li>En barrenos tipo pedestal siempre es necesario utilizar una broca guía. Esto quiere decir que si tu quieres perforar un ancho de 1/2, empieza colocando
   una broca más pequeña para ir haciendo la base y luego colocas la broca del agujero que deseas realizar.</li>
</ol>
    <div itemscope itemtype="https://schema.org/Article" class = "row g-4 my-5 mx-auto owl-carousel owl-theme">
        {% for page in site.data.demoledor %}
            <div class = "col product-item mx-auto">
                <div class = "product-img">
                    <img itemprop="image" loading="lazy" src ="{{ page.srcImagen }}" alt ="{{ page.descripcion }}"  title ="{{ page.descripcion }}" class ="img-fluid d-block mx-auto">
                    <!--span class = "heart-icon" style>
                        <i class = "far fa-heart"></i>
                    </span-->
                    <!--div class = "row btns w-100 mx-auto text-center">
                        <button type = "button" class = "col-6 py-2">
                            <i class = "fa fa-cart-plus"></i> WhatsApp
                        </button>
                        <button type = "button" class = "col-6 py-2">
                            <i class = "fa fa-binoculars"></i> Mas info
                        </button>
                    </div-->
                </div>
                <div class = "product-info p-3">
                    <span class = "product-type" itemprop="name">{{ page.categoria }}</span>
                    <p class = "d-block text-dark text-decoration-none py-2" itemprop="description">{{ page.descripcion }}</p>
                    <!--span class = "product-price">$ 100.50</span-->
                    <!--div class = "rating d-flex mt-1">
                     <div class="buy mt-3" itemprop="offers" itemscope itemtype="https://schema.org/Offer"><a class="btn btn-success btn-block" href="{{ page.whatsapp }}">WhatsApp</a></div>

                        <span>
                            <i class = "fa fa-star"></i>
                        </span>
                        <span>(25 reviews)</span>
                    </div-->
                </div>
            </div>
        {% endfor %}
    </div>
 </section>
